<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="~{Components :: head('About')}"></head>
<body class="bg-1 text-1">
<div th:replace="~{Components :: main-navigation}"></div>
<style>
    .sjsubg{
        background-image: url('/images/SJSU.webp');
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .caltrainbg{
        background-image: url('/images/Caltrain.webp');
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .education-gradient{
        background: linear-gradient(to right, #202020 50%, rgba(129, 129, 129, 0) 100%);
    }

    .skill{
        background-color:rgba(255,255, 255,.1);
    }
</style>
<main class="container-fluid px-md-4 px-2 py-5">
    <div class="container px-md-4 px-2">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/Headshot.webp" alt="Head shot" loading="lazy" style="width: 80%;margin-left: 20%;" class="d-block img-fluid rounded-3">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Hi! I am Constantine Khamis</h1>
                <p class="lead">I am a transportation technologist passionate about connecting people, systems, and data through code. I hold a B.S. in Computer Science from San José State University, where I’m also pursuing my M.S. in Transportation Management. My work blends web development, analytics, and system design to create tools that make complex information intuitive and useful.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="#contact"><button type="button" class="btn btn-primary btn-lg px-4">Contact</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="education">
        <h2 class="fw-bold border-bottom">Education</h2>
        <div class="container-fluid p-0 mb-4 caltrainbg">
            <div class="container-fluid education-gradient p-0">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-xs-12 px-5">
                            <h3 class="fw-bold">M.S Transportation Management</h3>
                            <p class="text-secondary">Graduating 2027, Mineta Transportation Institute</p>
                            <p class="fs-4">I’m currently pursuing an M.S. in Transportation Management at San José State University, where I explore how technology and data can improve mobility and infrastructure.</p>
<!--                            <h5 class="fw-bold">Class Highlights</h5>-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-4 col-sm-6 col-xs-6">-->
<!--                                    <p>Server Programming</p>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid p-0 sjsubg">
            <div class="container-fluid education-gradient p-0">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-xs-12 px-5">
                            <h3 class="fw-bold">B.S Computer Science</h3>
                            <p class="text-secondary">San Jose State University</p>
                            <p class="fs-4">I have recently graduated with a bachelor's degree in computer science at San Jose State University. I am currently seeking full time opportunities to start my career.</p>
                            <h5 class="fw-bold">Class Highlights</h5>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Server Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Operating Systems</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>CPU Architecture</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>OO Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Advanced Python</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Programming Paradigms</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>NoSQL</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>SQL</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Project Management</p>
                                </div>
                            </div>
                            <a href="https://github.com/CKhamis" class="btn btn-lg btn-primary" aria-current="page">Github Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="projects">
        <h2 class="fw-bold border-bottom">Recent Projects</h2>
        <div class="row" id="project-analytics-container"></div>
        <a href="/Projects#interdimensional"><div class="row" id="project-container"></div></a>
        <p class="fs-4 mt-3">Throughout my journey in software development, I've always been passionate about exploring new frameworks, libraries, and technologies to create exciting personal and school projects. From creating personalized diary and journaling programs to crafting resume websites and more, my work reflects a diverse range of projects. View the above projects and more in the projects section.</p>
        <a href="/Projects"><button type="button" class="btn btn-primary btn-lg px-4">Projects</button></a>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="skills">
        <h2 class="fw-bold border-bottom">Skills</h2>
        <h3 class="fw-bold">Languages</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lang-container"></div>
        <h3 class="fw-bold">Libraries & Frameworks</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lib-container"></div>
        <h3 class="fw-bold">Tools</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="tool-container"></div>
    </div>

<!--    <div class="container mt-5 px-md-4 px-2" id="jobs">-->
<!--        <h2 class="fw-bold border-bottom">Job History</h2>-->

<!--        <div class="row mx-0 mb-4">-->
<!--            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/San Jose.webp');"></div>-->
<!--            <div class="col-12 col-lg-7 px-4">-->
<!--                <h3>Internship at the City of San Jose</h3>-->
<!--                <h6 class="text-muted">February 2020 - May 2024</h6>-->
<!--                <p>-->
<!--                    During my time as a cybersecurity Intern at the City of San Jose, I've had the opportunity to contribute to enhancing the city's cybersecurity measures. My responsibilities included handling archived networking logs, ensuring communication with over 7,000 employees regarding enterprise IT projects, and conducting compliance checks using tools like Defender/Sentinel, Splunk, and more. I played a key role in bolstering the city's security posture in various ways such as rolling out multi factor authentication, Zero Trust Network Access, and installing VPNs. I also assisted employees using ServiceNow and Solwarwinds, addressing an average of 100 tickets each month. To combat phishing threats, I utilized various tools such as KnowBe4, Terranova, Armorblox, and O365 ATP. My contributions have been instrumental in fortifying the city's cybersecurity infrastructure and ensuring the safety of our digital assets.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mx-0 mb-4">-->
<!--            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/Home Depot.webp');"></div>-->
<!--            <div class="col-12 col-lg-7 px-4">-->
<!--                <h3>Order Fulfillment at Home Depot</h3>-->
<!--                <h6 class="text-muted">November 2020 - May 2021</h6>-->
<!--                <p>-->
<!--                    During my time as an Order Fulfilment Associate at Home Depot, I gained valuable experience in customer service. I successfully communicated with hundreds of customers daily, ensuring their needs were met promptly and professionally. This role required me to excel under pressure and meet strict deadlines, demonstrating my ability to thrive in a fast-paced and demanding environment. I undertook the task of memorizing the locations of thousands of products throughout the store to expedite customer inquiries. My time at Home Depot allowed me to hone my customer service skills, work effectively under pressure, and become a knowledgeable resource for customers seeking products in the store.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row mx-0 mb-4">-->
<!--            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/ThreatMetrix.webp');"></div>-->
<!--            <div class="col-12 col-lg-7 px-4">-->
<!--                <h3>Intern at ThreatMetrix</h3>-->
<!--                <h6 class="text-muted">July 2017 - August 2017</h6>-->
<!--                <p>-->
<!--                    During my brief but valuable internship at ThreatMetrix in July and August 2017, I had the opportunity to gain hands-on experience in web development. My primary role involved modifying website projects using the JavaScript framework D3, which allowed me to enhance my coding and web development skills. Additionally, I had the privilege of overseeing interviews taking place within the company and got accumulated to the company's working environment. This internship was a great learning experience, enabling me to improve my technical skills and providing me with a broader understanding of professional work dynamics.-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

    <div class="container mt-5 px-md-4 px-2" id="contact">
        <h2 class="fw-bold border-bottom">Contact</h2>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 list-unstyled list" id="contact-container">
            <a class="col mb-4" href="mailto:constantine@constantinekhamis.com">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/Email.svg" style="margin:4px; width:40px" alt="phone" />
                </div>
                <p class="name text-decoration-none text-center pt-1 text-white fw-bold">constantine@constantinekhamis.com</p>
            </a>
            <a class="col mb-4" href="tel:+14084606391">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/Call.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">(408) 460 6391</div>
            </a>
            <a class="col mb-4" href="https://www.linkedin.com/in/constantin-khamis/">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/LinkedIn.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">constantin-khamis</div>
            </a>
            <a class="col mb-4" href="https://github.com/CKhamis">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/GitHub.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">CKhamis</div>
            </a>
        </div>
    </div>
</main>
<div th:replace="~{Components :: JS}"></div>
<div th:replace="~{Components :: footer}"></div>
<div th:replace="~{Skills :: allSkills}"></div>
<script>
    //let container = document.querySelector("#projects");
    let projectList;
    //fetch functions
    fetch("https://costionline.com/api/project/all")
        .then(checkStatus)
        .then(response => response.json())
        .then(data => {
            // Process the retrieved data
            projectList = data;
            renderProjects()
        })
        .catch(error => {
            console.log(error);
        });

    //Render
    function renderProjects(){
        let projectListHTML = ``;

        // sort project list
        projectList.sort((a, b) => new Date(b.created) - new Date(a.created));

        for(let i = 0; i < 4; i++){
            let project = projectList[i];
            let logoAndTitle = `<h5 class="card-title fw-bold">${project.name}</h5>`;
            if(project.logo.length > 0){
                logoAndTitle = `
                    <div class="bg-1 rounded-3" style="position: absolute; transform: translate(0%, -75%); z-index: 1;">
                        <img src="${project.logo}" class="p-1" alt="Project Logo" style="aspect-ratio: 1 / 1; object-fit: cover; width: 90px; opacity: 1;">
                    </div>
                    <h5 class="card-title mt-4 fw-bold">${project.name}</h5>
                `;
            }

            let banner = '';
            if(project.imageLinks.length > 0){
                banner = `<img src="${project.imageLinks[0]}" class="card-img-top" alt="banner image" style="aspect-ratio: 2 / 1; object-fit: cover">`;
            }

            let card = `
                    <div class="col-12 col-md-6 col-lg-3 mb-4">
                        <div class="card m-2 h-100">
                            ${banner}
                            <div class="card-body pb-0">
                                ${logoAndTitle}
                                <p class="card-text">${project.description}</p>
                            </div>
                            <div class="flex-shrink-0 p-3">
                                <div class="d-flex flex-row justify-content-between align-items-end">
                                    <div>
                                        <p class="fw-bold mb-1">Created</p>
                                        <p class="mb-0">${formatTimestamp(project.created)}</p>
                                    </div>
                                    <a href="${project.url}" class="btn btn-primary float-end">Repository</a>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

            projectListHTML += card;
        }

        document.querySelector("#project-container").innerHTML = projectListHTML;
    }

    function formatTimestamp(dateString) {
        let date = new Date(dateString);
        let day = ("0" + date.getDate()).slice(-2);
        let month = ("0" + (date.getMonth() + 1)).slice(-2);
        let year = date.getFullYear().toString().substr(-2);
        let hours = date.getHours();
        let minutes = ("0" + date.getMinutes()).slice(-2);
        let ampm = hours >= 12 ? 'PM' : 'AM';

        hours = hours % 12;
        hours = hours ? ("0" + hours).slice(-2) : 12;

        return `${month}/${day}/${year} ${hours}:${minutes} ${ampm}`;
    }

    renderSkills();
    function renderSkills(){
        let langContent = ``;
        let toolContent = ``;
        let libContent = ``;

        for(let i = 0; i < skills.length; i++){
            let content = `
            <li class="col mb-4">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="${skills[i].content}" style="margin:4px;" alt="${skills[i].name}" />
                </div>
                <div class="name text-decoration-none text-center pt-1">${skills[i].name}</div>
            </li>
            `;

            if(skills[i].category === "lib"){
                libContent += content;
            }else if(skills[i].category === "tool"){
                toolContent += content;
            }else{
                langContent += content;
            }
        }

        document.querySelector("#lang-container").innerHTML = langContent;
        document.querySelector("#lib-container").innerHTML = libContent;
        document.querySelector("#tool-container").innerHTML = toolContent;
    }
</script>
</body>
</html>