<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('About')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: main-navigation"></div>
<style>
    #education > div{
        background-image: url('/images/SJSU.webp');
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .skill{
        background-color:rgba(255,255, 255,.1);
    }
</style>
<main class="container-fluid px-md-4 px-2 py-5">
    <div class="container col-xxl-8 px-4">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/Headshot.webp" alt="Head shot" loading="lazy" style="width: 80%;margin-left: 20%;" class="d-block img-fluid rounded-3">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Hi! I am Constantine Khamis</h1>
                <p class="lead">As a dedicated computer science student at SJSU, set to graduate in Spring 2024, my career has been driven by a strong foundation in cybersecurity from my last two internships. I have transitioned my coding projects towards the development of full-stack web-based applications. I am well-versed in using various technologies like Java Spring, Hibernate, and Bootstrap for my recent projects, while also continually exploring new frameworks and libraries to create innovative solutions.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/Downloads/Resume - Oct 9 2023.docx"><button type="button" class="btn btn-primary btn-lg px-4">Download Resume</button></a>
                    <a href="#contact"><button type="button" class="btn btn-secondary btn-lg px-4">Contact</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="education">
        <h2 class="fw-bold border-bottom">Education</h2>
        <div class="container-fluid p-0 gradient">
            <div class="container-fluid">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-xs-12">
                            <h3 class="fw-bold">San Jose State University</h3>
                            <p class="text-secondary">Graduating in Spring 2024</p>
                            <p class="fs-4">I am currently a full time computer science student at San Jose State University. I am working on completing my upper division classes and finishing my bachelor's degree.</p>
                            <h5 class="fw-bold">Class Highlights</h5>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Server Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Operating Systems</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>CPU Architecture</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>OO Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Advanced Python</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Programming Paradigms</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Database Design</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Project Management</p>
                                </div>
                            </div>
                            <a href="https://github.com/CKhamis" class="btn btn-lg btn-primary" aria-current="page">Github Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="projects">
        <h2 class="fw-bold border-bottom">Recent Projects</h2>
        <div class="row" id="project-analytics-container"></div>
        <a href="/Projects"><div class="row" id="project-container"></div></a>
        <p class="fs-4 mt-3">Throughout my journey in software development, I've always been passionate about exploring new frameworks, libraries, and technologies to create exciting personal and school projects. From creating personalized diary and journaling programs to crafting resume websites and more, my work reflects a diverse range of projects. View the above projects and more in the projects section.</p>
        <a href="/Projects"><button type="button" class="btn btn-primary btn-lg px-4">Projects</button></a>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="skills">
        <h2 class="fw-bold border-bottom">Skills</h2>
        <h3 class="fw-bold">Languages</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lang-container"></div>
        <h3 class="fw-bold">Libraries & Frameworks</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lib-container"></div>
        <h3 class="fw-bold">Tools</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="tool-container"></div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Bear.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Bone.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Chuck Plush.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Garbage.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Jimmy Plush.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Leash.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>
            <div class="col">
                <img th:src="@{images/games/axcel/toys/Terence Plush.png}" class="position-relative mx-auto" style="height: 70px; top:0px;left:50%;transform:translate(-50%, 0%);"/>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="container mt-4 p-3 border-box">
            <div class="h-100 float-start" style="margin-right: 20px;">
                <img th:src="@{images/games/axcel/sitting.gif}" class="h-100" alt="Axcel's sprite" />
            </div>
            <div class="h-100 float-start">
                <h2>Hi, my name is Axcel</h2>
                <p style="margin-bottom: 0px">I am a high energy, affectionate, occasionally mischievous dog living in the Bay Area! I live at Costi's house and guard it very well.</p>
            </div>
            <br clear="all" />
        </div>

        <div class="row mt-3">
            <div class="col-xs-12 col-md-4 mt-3">
                <div class="border-box p-3 h-100">
                    <h3 class="fw-bold">Likes</h3>
                    <ul>
                        <li>-SCOOTERS</li>
                        <li>-Visiting the dog park</li>
                        <li>-Butt scratches</li>
                        <li>-Knocking over my food bowl</li>
                        <li>-Scooters</li>
                        <li>-Ripping apart my toys and eating them</li>
                        <li>-Shedding</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 mt-3">
                <div class="border-box p-3 h-100">
                    <h3 class="fw-bold">Dislikes</h3>
                    <ul>
                        <li>-The game room door</li>
                        <li>-Showers</li>
                        <li>-Regular dog food</li>
                        <li>-Hot weather</li>
                        <li>-The beach (and ocean)</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 mt-3">
                <div class="border-box p-3 h-100">
                    <h3 class="fw-bold">Friends</h3>
                    <ul>
                        <li>-Romeo</li>
                        <li>-Rocky</li>
                        <li>-Carmelo</li>
                    </ul>
                </div>
            </div>
        </div>

        <p class="text-center mt-3 fs-4">Pixel art of Axcel and his toys are made by Brandon</p>
    </div>
</main>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: footer"></div>
<script>
    let container = document.querySelector("#projects");
    let skills = [
        {"category": "lib", "name": "Bootstrap", "content": `<img src="https://skillicons.dev/icons?i=bootstrap" style="margin:4px;" />`},
        {"category": "lang", "name": "C++", "content": `<img src="https://skillicons.dev/icons?i=cpp" style="margin:4px;" />`},
        {"category": "lib", "name": "D3.js", "content": `<img src="https://skillicons.dev/icons?i=d3" style="margin:4px;" />`},
        {"category": "tool", "name": "Docker", "content": `<img src="https://skillicons.dev/icons?i=docker" style="margin:4px;" />`},
        {"category": "lib", "name": "Fast API", "content": `<img src="https://skillicons.dev/icons?i=fastapi" style="margin:4px;" />`},
        {"category": "tool", "name": "Git", "content": `<img src="https://skillicons.dev/icons?i=git" style="margin:4px;" />`},
        {"category": "tool", "name": "Gradle", "content": `<img src="https://skillicons.dev/icons?i=gradle" style="margin:4px;" />`},
        {"category": "lang", "name": "HTML", "content": `<img src="https://skillicons.dev/icons?i=html" style="margin:4px;" />`},
        {"category": "tool", "name": "Illustrator", "content": `<img src="https://skillicons.dev/icons?i=ai" style="margin:4px;" />`},
        {"category": "lang", "name": "Java", "content": `<img src="https://skillicons.dev/icons?i=java" style="margin:4px;" />`},
        {"category": "lang", "name": "JavaScript", "content": `<img src="https://skillicons.dev/icons?i=js" style="margin:4px;" />`},
        {"category": "lib", "name": "jQuery", "content": `<img src="https://skillicons.dev/icons?i=jquery" style="margin:4px;" />`},
        {"category": "lang", "name": "MySql", "content": `<img src="https://skillicons.dev/icons?i=mysql" style="margin:4px;" />`},
        {"category": "lang", "name": "Postgres", "content": `<img src="https://skillicons.dev/icons?i=postgres" style="margin:4px;" />`},
        {"category": "lang", "name": "Python", "content": `<img src="https://skillicons.dev/icons?i=py" style="margin:4px;" />`},
        {"category": "lib", "name": "React", "content": `<img src="https://skillicons.dev/icons?i=react" style="margin:4px;" />`},
        {"category": "lang", "name": "Redis", "content": `<img src="https://skillicons.dev/icons?i=redis" style="margin:4px;" />`},
        {"category": "lang", "name": "Rust", "content": `<img src="https://skillicons.dev/icons?i=rust" style="margin:4px;" />`},
        {"category": "lang", "name": "Sass", "content": `<img src="https://skillicons.dev/icons?i=sass" style="margin:4px;" />`},
        {"category": "lib", "name": "Java Spring", "content": `<img src="https://skillicons.dev/icons?i=spring" style="margin:4px;" />`},
        {"category": "lib", "name": "Tensorflow", "content": `<img src="https://skillicons.dev/icons?i=tensorflow" style="margin:4px;" />`},
        {"category": "lang", "name": "TypeScript", "content": `<img src="https://skillicons.dev/icons?i=ts" style="margin:4px;" />`},
        {"category": "lang", "name": "Wordpress", "content": `<img src="https://skillicons.dev/icons?i=wordpress" style="margin:4px;" />`},
        {"category": "tool", "name": "Xd", "content": `<img src="https://skillicons.dev/icons?i=xd" style="margin:4px;" />`}
    ];

    const analyticsFetch = fetch("https://costionline.com/api/Projects/analytics");
    const projectsFetch = fetch("https://costionline.com/api/Projects/all");
    Promise.all([analyticsFetch, projectsFetch])
        .then(responses => {
            const response1 = checkStatus(responses[0]);
            const response2 = checkStatus(responses[1]);

            return Promise.all([response1, response2]);
        })
        .then(data => {
            let analyticsDownload = data[0].json();
            let projectsDownload = data[1].json();

            return Promise.all([analyticsDownload, projectsDownload]);
        })
        .then(data => {
            renderPostAnalytics(data[0]);
            renderProjects(data[1]);
        })
        .catch((response)=>{
            console.log(response);
            response.json()  // Parse the JSON error response
                .then(errorData => {
                    container.innerHTML = `<img src="/icons/Logo.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                })
                .catch(error => {
                    container.innerHTML = `<img src="/icons/Logo.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">There was an error receiving data from application server</h3><p class="text-center">Error message could not be parsed. ${error}</p>`;

                    console.error("Error parsing error response:", error);
                });
        });

    function renderPostAnalytics(data){
        let htmlContent = ``;

        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Total Projects: ${data.totalProjects}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Active: ${data.active}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Open Repos: ${data.repos}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Total Projects: ${data.totalProjects}</p></div>`;

        document.querySelector("#project-analytics-container").innerHTML = htmlContent;
    }

    function renderProjects(data){
        let htmlContent = ``;

        for(let i = 0; i < 3; i++){
            htmlContent += `
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <h5 class="fw-bold text-center">${data[i].title}</h5>
                    <img src="https://costionline.com${data[i].imagePath}" class="img-fluid d-block rounded-3" loading="lazy" style="aspect-ratio: 16 / 9; object-fit: cover; width: 100%;" />
                </div>`;
        }

        document.querySelector("#project-container").innerHTML = htmlContent;
    }

    renderSkills();
    function renderSkills(){
        let langContent = ``;
        let toolContent = ``;
        let libContent = ``;

        for(let i = 0; i < skills.length; i++){
            let content = `
            <li class="col mb-4">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    ${skills[i].content}
                </div>
                <div class="name text-decoration-none text-center pt-1">${skills[i].name}</div>
            </li>
            `;

            if(skills[i].category == "lib"){
                libContent += content;
            }else if(skills[i].category == "tool"){
                toolContent += content;
            }else if(skills[i].category == "lang"){
                langContent += content;
            }
        }

        document.querySelector("#lang-container").innerHTML = langContent;
        document.querySelector("#lib-container").innerHTML = libContent;
        document.querySelector("#tool-container").innerHTML = toolContent;
    }
</script>
</body>
</html>