<!DOCTYPE html>
<html xml:th="https://www.thymeleaf.org">
<head th:replace="Components :: head('About')"></head>
<body class="bg-1 text-1">
<div th:replace="Components :: main-navigation"></div>
<style>
    #education > div{
        background-image: url('/images/SJSU.webp');
        background-position: right;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .job-image{
        min-height:200px;
        background-position: left;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .skill{
        background-color:rgba(255,255, 255,.1);
    }
</style>
<main class="container-fluid px-md-4 px-2 py-5">
    <div class="container px-md-4 px-2">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/Headshot.webp" alt="Head shot" loading="lazy" style="width: 80%;margin-left: 20%;" class="d-block img-fluid rounded-3">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Hi! I am Constantine Khamis</h1>
                <p class="lead">As a dedicated computer science graduate at SJSU my career has been driven by a strong foundation in cybersecurity from my previous internship experiences. I have transitioned my coding projects towards the development of full-stack web-based applications. I am well-versed in using various technologies like NoSQL databases, SQL databases, Java, Rust, and JavaScript for my recent projects, while also continually exploring new frameworks and libraries to create unique and complex projects.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/Downloads/Resume.docx"><button type="button" class="btn btn-primary btn-lg px-4">Download Resume</button></a>
                    <a href="#contact"><button type="button" class="btn btn-secondary btn-lg px-4">Contact</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="education">
        <h2 class="fw-bold border-bottom">Education</h2>
        <div class="container-fluid p-0 gradient">
            <div class="container-fluid">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-xs-12">
                            <h3 class="fw-bold">San Jose State University</h3>
                            <p class="text-secondary">Graduating in Spring 2024</p>
                            <p class="fs-4">I have recently graduated with a bachelor's degree in computer science at San Jose State University. I am currently seeking full time opportunities to start my career.</p>
                            <h5 class="fw-bold">Class Highlights</h5>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Server Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Operating Systems</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>CPU Architecture</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>OO Programming</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Advanced Python</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Programming Paradigms</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>NoSQL</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>SQL</p>
                                </div>
                                <div class="col-lg-4 col-sm-6 col-xs-6">
                                    <p>Project Management</p>
                                </div>
                            </div>
                            <a href="https://github.com/CKhamis" class="btn btn-lg btn-primary" aria-current="page">Github Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="projects">
        <h2 class="fw-bold border-bottom">Recent Projects</h2>
        <div class="row" id="project-analytics-container"></div>
        <a href="/Projects#interdimensional"><div class="row" id="project-container"></div></a>
        <p class="fs-4 mt-3">Throughout my journey in software development, I've always been passionate about exploring new frameworks, libraries, and technologies to create exciting personal and school projects. From creating personalized diary and journaling programs to crafting resume websites and more, my work reflects a diverse range of projects. View the above projects and more in the projects section.</p>
        <a href="/Projects"><button type="button" class="btn btn-primary btn-lg px-4">Projects</button></a>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="skills">
        <h2 class="fw-bold border-bottom">Skills</h2>
        <h3 class="fw-bold">Languages</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lang-container"></div>
        <h3 class="fw-bold">Libraries & Frameworks</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="lib-container"></div>
        <h3 class="fw-bold">Tools</h3>
        <div class="row row-cols-3 row-cols-sm-4 row-cols-lg-6 row-cols-xl-8 list-unstyled list" id="tool-container"></div>
    </div>

    <div class="container mt-5 px-md-4 px-2" id="jobs">
        <h2 class="fw-bold border-bottom">Job History</h2>

        <div class="row mx-0 mb-4">
            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/San Jose.webp');"></div>
            <div class="col-12 col-lg-7 px-4">
                <h3>Internship at the City of San Jose</h3>
                <h6 class="text-muted">February 2020 - May 2024</h6>
                <p>
                    During my time as a cybersecurity Intern at the City of San Jose, I've had the opportunity to contribute to enhancing the city's cybersecurity measures. My responsibilities included handling archived networking logs, ensuring communication with over 7,000 employees regarding enterprise IT projects, and conducting compliance checks using tools like Defender/Sentinel, Splunk, and more. I played a key role in bolstering the city's security posture in various ways such as rolling out multi factor authentication, Zero Trust Network Access, and installing VPNs. I also assisted employees using ServiceNow and Solwarwinds, addressing an average of 100 tickets each month. To combat phishing threats, I utilized various tools such as KnowBe4, Terranova, Armorblox, and O365 ATP. My contributions have been instrumental in fortifying the city's cybersecurity infrastructure and ensuring the safety of our digital assets.
                </p>
            </div>
        </div>

        <div class="row mx-0 mb-4">
            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/Home Depot.webp');"></div>
            <div class="col-12 col-lg-7 px-4">
                <h3>Order Fulfillment at Home Depot</h3>
                <h6 class="text-muted">November 2020 - May 2021</h6>
                <p>
                    During my time as an Order Fulfilment Associate at Home Depot, I gained valuable experience in customer service. I successfully communicated with hundreds of customers daily, ensuring their needs were met promptly and professionally. This role required me to excel under pressure and meet strict deadlines, demonstrating my ability to thrive in a fast-paced and demanding environment. I undertook the task of memorizing the locations of thousands of products throughout the store to expedite customer inquiries. My time at Home Depot allowed me to hone my customer service skills, work effectively under pressure, and become a knowledgeable resource for customers seeking products in the store.
                </p>
            </div>
        </div>

        <div class="row mx-0 mb-4">
            <div class="col-12 col-lg-5 job-image" style="background-image: url('/images/ThreatMetrix.webp');"></div>
            <div class="col-12 col-lg-7 px-4">
                <h3>Intern at ThreatMetrix</h3>
                <h6 class="text-muted">July 2017 - August 2017</h6>
                <p>
                    During my brief but valuable internship at ThreatMetrix in July and August 2017, I had the opportunity to gain hands-on experience in web development. My primary role involved modifying website projects using the JavaScript framework D3, which allowed me to enhance my coding and web development skills. Additionally, I had the privilege of overseeing interviews taking place within the company and got accumulated to the company's working environment. This internship was a great learning experience, enabling me to improve my technical skills and providing me with a broader understanding of professional work dynamics.
                </p>
            </div>
        </div>

    </div>

    <div class="container mt-5 px-md-4 px-2" id="contact">
        <h2 class="fw-bold border-bottom">Contact</h2>
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 list-unstyled list" id="contact-container">
            <a class="col mb-4" href="mailto:constantine@constantinekhamis.com">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/Email.svg" style="margin:4px; width:40px" alt="phone" />
                </div>
                <p class="name text-decoration-none text-center pt-1 text-white fw-bold">constantine@constantinekhamis.com</p>
            </a>
            <a class="col mb-4" href="tel:+14084606391">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/Call.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">(408) 460 6391</div>
            </a>
            <a class="col mb-4" href="https://www.linkedin.com/in/constantin-khamis/">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/LinkedIn.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">constantin-khamis</div>
            </a>
            <a class="col mb-4" href="https://github.com/CKhamis">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="/icons/GitHub.svg" style="margin:4px; width:40px" alt="call" />
                </div>
                <div class="name text-decoration-none text-center pt-1 text-white fw-bold">CKhamis</div>
            </a>
        </div>
    </div>
</main>
<div th:replace="Components :: JS"></div>
<div th:replace="Components :: footer"></div>
<script>
    let container = document.querySelector("#projects");
    let skills = [
        {"category": "lib", "name": "Actix", "content": `https://skillicons.dev/icons?i=actix`},
        {"category": "tool", "name": "Azure", "content": `https://skillicons.dev/icons?i=azure`},
        {"category": "tool", "name": "Bash", "content": `https://skillicons.dev/icons?i=bash`},
        {"category": "lib", "name": "Bootstrap", "content": `https://skillicons.dev/icons?i=bootstrap`},
        {"category": "lang", "name": "Cassandra", "content": `https://skillicons.dev/icons?i=cassandra`},
        {"category": "tool", "name": "Cloudflare", "content": `https://skillicons.dev/icons?i=cloudflare`},
        {"category": "lang", "name": "CSS", "content": `https://skillicons.dev/icons?i=css`},
        {"category": "lang", "name": "C++", "content": `https://skillicons.dev/icons?i=cpp`},
        {"category": "lib", "name": "D3.js", "content": `https://skillicons.dev/icons?i=d3`},
        {"category": "tool", "name": "Docker", "content": `https://skillicons.dev/icons?i=docker`},
        {"category": "lib", "name": "Fast API", "content": `https://skillicons.dev/icons?i=fastapi`},
        {"category": "tool", "name": "Git", "content": `https://skillicons.dev/icons?i=git`},
        {"category": "tool", "name": "Gradle", "content": `https://skillicons.dev/icons?i=gradle`},
        {"category": "lang", "name": "HTML", "content": `https://skillicons.dev/icons?i=html`},
        {"category": "tool", "name": "Illustrator", "content": `https://skillicons.dev/icons?i=ai`},
        {"category": "lang", "name": "Java", "content": `https://skillicons.dev/icons?i=java`},
        {"category": "lang", "name": "JavaScript", "content": `https://skillicons.dev/icons?i=js`},
        {"category": "lib", "name": "jQuery", "content": `https://skillicons.dev/icons?i=jquery`},
        {"category": "lang", "name": "MySql", "content": `https://skillicons.dev/icons?i=mysql`},
        {"category": "lang", "name": "Postgres", "content": `https://skillicons.dev/icons?i=postgres`},
        {"category": "tool", "name": "Postman", "content": `https://skillicons.dev/icons?i=postman`},
        {"category": "lang", "name": "Python", "content": `https://skillicons.dev/icons?i=py`},
        {"category": "lib", "name": "React", "content": `https://skillicons.dev/icons?i=react`},
        {"category": "lang", "name": "Redis", "content": `https://skillicons.dev/icons?i=redis`},
        {"category": "lang", "name": "Rust", "content": `https://skillicons.dev/icons?i=rust`},
        {"category": "lang", "name": "Sass", "content": `https://skillicons.dev/icons?i=sass`},
        {"category": "lib", "name": "Java Spring", "content": `https://skillicons.dev/icons?i=spring`},
        {"category": "lib", "name": "Tensorflow", "content": `https://skillicons.dev/icons?i=tensorflow`},
        {"category": "lang", "name": "TypeScript", "content": `https://skillicons.dev/icons?i=ts`},
        {"category": "lang", "name": "Wordpress", "content": `https://skillicons.dev/icons?i=wordpress`},
        {"category": "tool", "name": "Xd", "content": `https://skillicons.dev/icons?i=xd`}
    ];

    const analyticsFetch = fetch("https://costionline.com/api/Projects/analytics");
    const projectsFetch = fetch("https://costionline.com/api/Projects/all");
    Promise.all([analyticsFetch, projectsFetch])
        .then(responses => {
            const response1 = checkStatus(responses[0]);
            const response2 = checkStatus(responses[1]);

            return Promise.all([response1, response2]);
        })
        .then(data => {
            let analyticsDownload = data[0].json();
            let projectsDownload = data[1].json();

            return Promise.all([analyticsDownload, projectsDownload]);
        })
        .then(data => {
            renderPostAnalytics(data[0]);
            renderProjects(data[1]);
        })
        .catch((response)=>{
            console.log(response);
            response.json()  // Parse the JSON error response
                .then(errorData => {
                    container.innerHTML = `<img src="/icons/Logo.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">${errorData.title}</h3><p class="text-center">${errorData.message}</p>`;
                })
                .catch(error => {
                    container.innerHTML = `<img src="/icons/Logo.svg" alt="error" width="75" class="mx-auto d-block"><h3 class="text-center fw-bold">There was an error receiving data from application server</h3><p class="text-center">Error message could not be parsed. ${error}</p>`;

                    console.error("Error parsing error response:", error);
                });
        });

    function renderPostAnalytics(data){
        let htmlContent = ``;

        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Total Projects: ${data.totalProjects}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Active: ${data.active}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Open Repos: ${data.repos}</p></div>`;
        htmlContent += `<div class='col-6 col-md-4 col-lg-3'><p class='text-secondary text-center'>Total Projects: ${data.totalProjects}</p></div>`;

        document.querySelector("#project-analytics-container").innerHTML = htmlContent;
    }

    function renderProjects(data){
        let htmlContent = ``;

        for(let i = 0; i < 3; i++){
            htmlContent += `
                <div class="col-12 col-md-6 col-lg-4 mt-3">
                    <h5 class="fw-bold text-center text-white">${data[i].title}</h5>
                    <img src="https://costionline.com${data[i].imagePath}" class="img-fluid d-block rounded-3" loading="lazy" style="aspect-ratio: 16 / 9; object-fit: cover; width: 100%;" />
                </div>`;
        }

        document.querySelector("#project-container").innerHTML = htmlContent;
    }

    renderSkills();
    function renderSkills(){
        let langContent = ``;
        let toolContent = ``;
        let libContent = ``;

        for(let i = 0; i < skills.length; i++){
            let content = `
            <li class="col mb-4">
                <div class="px-3 py-4 mb-2 bg-body-secondary text-center rounded-3 skill">
                    <img src="${skills[i].content}" style="margin:4px;" alt="${skills[i].name}" />
                </div>
                <div class="name text-decoration-none text-center pt-1">${skills[i].name}</div>
            </li>
            `;

            if(skills[i].category === "lib"){
                libContent += content;
            }else if(skills[i].category === "tool"){
                toolContent += content;
            }else{
                langContent += content;
            }
        }

        document.querySelector("#lang-container").innerHTML = langContent;
        document.querySelector("#lib-container").innerHTML = libContent;
        document.querySelector("#tool-container").innerHTML = toolContent;
    }
</script>
</body>
</html>