<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script th:fragment="allSkills">
    let skills = [
        {"category": "lib", "name": "Actix", "content": `https://skillicons.dev/icons?i=actix`},
        {"category": "tool", "name": "Android Studio", "content": `https://skillicons.dev/icons?i=androidstudio`},
        {"category": "tool", "name": "Azure", "content": `https://skillicons.dev/icons?i=azure`},
        {"category": "tool", "name": "Bash", "content": `https://skillicons.dev/icons?i=bash`},
        {"category": "lib", "name": "Bootstrap", "content": `https://skillicons.dev/icons?i=bootstrap`},
        {"category": "lang", "name": "Cassandra", "content": `https://skillicons.dev/icons?i=cassandra`},
        {"category": "tool", "name": "Cloudflare", "content": `https://skillicons.dev/icons?i=cloudflare`},
        {"category": "lang", "name": "CSS", "content": `https://skillicons.dev/icons?i=css`},
        {"category": "lang", "name": "C++", "content": `https://skillicons.dev/icons?i=cpp`},
        {"category": "lib", "name": "D3.js", "content": `https://skillicons.dev/icons?i=d3`},
        {"category": "lib", "name": "Django", "content": `https://skillicons.dev/icons?i=django`},
        {"category": "tool", "name": "Docker", "content": `https://skillicons.dev/icons?i=docker`},
        {"category": "lib", "name": "Fast API", "content": `https://skillicons.dev/icons?i=fastapi`},
        {"category": "tool", "name": "Git", "content": `https://skillicons.dev/icons?i=git`},
        {"category": "tool", "name": "Gradle", "content": `https://skillicons.dev/icons?i=gradle`},
        {"category": "lang", "name": "HTML", "content": `https://skillicons.dev/icons?i=html`},
        {"category": "tool", "name": "Illustrator", "content": `https://skillicons.dev/icons?i=ai`},
        {"category": "lang", "name": "Java", "content": `https://skillicons.dev/icons?i=java`},
        {"category": "lang", "name": "JavaScript", "content": `https://skillicons.dev/icons?i=js`},
        {"category": "lib", "name": "jQuery", "content": `https://skillicons.dev/icons?i=jquery`},
        {"category": "lang", "name": "MySql", "content": `https://skillicons.dev/icons?i=mysql`},
        {"category": "lib", "name": "Next.js", "content": `https://skillicons.dev/icons?i=nextjs`},
        {"category": "tool", "name": "Nginx", "content": `https://skillicons.dev/icons?i=nginx`},
        {"category": "tool", "name": "NPM", "content": `https://skillicons.dev/icons?i=npm`},
        {"category": "lang", "name": "Postgres", "content": `https://skillicons.dev/icons?i=postgres`},
        {"category": "tool", "name": "Postman", "content": `https://skillicons.dev/icons?i=postman`},
        {"category": "tool", "name": "Premiere Pro", "content": `https://skillicons.dev/icons?i=pr`},
        {"category": "tool", "name": "Prisma", "content": `https://skillicons.dev/icons?i=prisma`},
        {"category": "lang", "name": "Python", "content": `https://skillicons.dev/icons?i=py`},
        {"category": "lib", "name": "React", "content": `https://skillicons.dev/icons?i=react`},
        {"category": "lang", "name": "Redis", "content": `https://skillicons.dev/icons?i=redis`},
        {"category": "lang", "name": "Rust", "content": `https://skillicons.dev/icons?i=rust`},
        {"category": "lang", "name": "Sass", "content": `https://skillicons.dev/icons?i=sass`},
        {"category": "lib", "name": "Java Spring", "content": `https://skillicons.dev/icons?i=spring`},
        {"category": "lib", "name": "Tailwind", "content": `https://skillicons.dev/icons?i=tailwind`},
        {"category": "lib", "name": "Tensorflow", "content": `https://skillicons.dev/icons?i=tensorflow`},
        {"category": "lang", "name": "TypeScript", "content": `https://skillicons.dev/icons?i=ts`},
        {"category": "tool", "name": "Wordpress", "content": `https://skillicons.dev/icons?i=wordpress`},
        {"category": "tool", "name": "Xd", "content": `https://skillicons.dev/icons?i=xd`}
    ];
</script>

</body>
</html>